.container {
  display: flex;
  align-items: center;
  height: 100%;
  color: white;
}

.hover-margin {
  cursor: pointer;
  margin-left: 60px;
}

.navBar {
  background-color: #1f1d1d;
  height: 90px;
}
